[[source]]
name = "pypi.ustc"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
invoke = "*"
beem = "~=0.20.22"
bs4 = "*"
markdown = "*"
unicodecsv = "*"
lxml = "*"
zmail = "*"
requests = {extras = ["security"],version = "*"}
certifi = "*"
pymongo = {extras = ["tls"],version = "*"}
dnspython = "*"
langdetect = "*"
matplotlib = "*"
steemengine = "*"
ecdsa = "~=0.13.2"

[requires]
python_version = "3.7"
